---
name: Run tests CLI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test_cli:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.11']
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} with Python ${{ matrix.python-version }}
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Display Python version
      shell: bash {0}
      run: python -c "import sys; print(sys.version)"
    - name: Install bids examples
      run: git clone https://github.com/bids-standard/bids-examples.git
    - name: Install pybids-reports
      shell: bash {0}
      run: pip install .
    - name: Info CLI
      shell: bash {0}
      run: |
        pybids_reports --version
        pybids_reports --help
    - name: Run test for CLI
      shell: bash {0}
      run: |
        bash tools/run_on_examples.sh
